    .navbar-branch {
        width: 14%;
        float: left;
        margin-right: 5%;
    }
    
    .topweb {
        background-color: rgb(11, 149, 149);
    }
    
    .img-responsive {
        width: 100%;
        margin: 5% 0;
    }
    
    .text_right ul li a {
        text-align: right;
        color: white!important;
    }
    
    .text_right ul li {
        width: 100%;
    }
    
    .img-logo-bars {
        width: 100%;
    }
    
    .text_right ul {
        margin-left: 15%;
        width: 100%;
    }
    
    .d-flex {
        width: 100%;
    }
    
    .btn-secondary {
        color: red;
        background-color: white;
    }
    
    .btn-secondary:hover {
        color: black;
        background-color: white;
    }
    
    .category {
        background-color: white;
        width: 100%;
    }
    
    .category ul li a:hover {
        color: white;
        background-color: rgb(11, 149, 149);
    }
    
    .category ul li a {
        color: black;
    }
    
    .category ul li {
        margin: 0 2% 0;
    }
    
    .flex-column li {
        list-style-type: none;
    }
    
    .special h1 {
        margin: 3% 0 0;
    }
    
    .special h2 {
        margin: 0 0;
        height: 1%;
    }
    
    .content-sc-6 {
        width: 90%;
        color: white;
        margin-bottom: 1%;
        margin-left: 2%;
    }
    
    .icon {
        width: 10%;
        height: 10%;
    }
    
    .row {
        width: 90%;
        margin: 0 5%;
    }
    
    .why span {
        background: #fff;
        border-radius: 100%;
        width: 60px;
        padding: 5px 20px;
        height: 60px;
        color: #006666;
        font-size: 36px;
        display: block;
        font-weight: bold;
        float: left;
        margin-right: 15px;
    }
    
    .why ul li {
        list-style-type: none;
        margin-top: 4%;
    }
    
    .card img {
        border-radius: 100%;
    }
    
    .card {
        border: #fff;
    }
    
    .line-section {
        border-bottom: 3px solid #50bd77;
        margin: 0 auto;
        width: 256px;
        margin-bottom: 3px;
        margin-top: 20px;
    }
    
    .line-section2 {
        border-bottom: 3px solid #50bd77;
        margin: 0 auto;
        width: 214px;
        margin-bottom: 36px;
    }
    
    .clearfix {
        clear: both;
        float: none;
    }
    
    .more {
        color: rgb(0, 171, 245);
    }